
@{
    ViewData["Title"] = "Index";
}
<div class="bg-primary text-white p-1 m-1">
    <h2>Create User List</h2>
</div>


<a asp-action="Create" asp-controller="Admin" class="btn btn-primary">
    Create User
</a>
